<html>

  <head>
    <title>Créer un potin</title>
  </head>

  <body>
    <h1>PAGE POTIN</h1>

    <form action='/gossips/:id/' method='POST'>
      <h4>Tu as choisi le potin numéro <%= params[:id] %> </br> </h4>
    Voici sa page: </br>
    -> Son auteur => <%= Gossip.all["#{params[:id]}".to_i].author%></br>
  <!-- j'appelle l'id entrée, et je l'adapte à l'auteur ou au content. .to_i est nécessaire car les guillemet le transforme en string-->
    -> Son contenu => <%= Gossip.all["#{params[:id]}".to_i].content%>
    </form>

    <p>Pour revenir à la page des potins, clique <a href="/">ici</a> !</p>
  </body>

</html>